.drawPage {
    margin-top: 60px;
    justify-items: center;
}
.setting {
    display: grid;
    justify-content: center;
}

@media (min-width: 380px) {
  .setting {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 720px) {
  .setting {
    grid-template-columns: repeat(4, 1fr);
  }
}