p {
  font-family: "DotGothic16", sans-serif;
  font-weight: 600;
}

.toDrawingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  color: black;
  transition: 0.2s ease;
  
  font-family: "DotGothic16", sans-serif;
}
.toDrawingPage:hover {
  background-color: rgb(8, 79, 45);
  color: rgb(255, 255, 255);
  font-size: 140%;
}
.toDrawingPage:active {
  color: rgb(0, 0, 0);
}

.galleryPage {
  margin-top: 70px;
}

.galleryList {
  display: grid;
  gap: 15px;
  
}
.galleryItem {
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 230px;
  opacity: 0;
  transform: scale(0.5);
  animation: fadeInScale 0.5s forwards;
  justify-content: space-between;
  box-shadow: 0px 0px 5px #333;
  padding: 3px;
  position: relative;
}
.galleryItemsContent {
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 198px;
  opacity: 0;
  transform: scale(0.5);
  animation: fadeInScale 0.5s forwards;
}


@keyframes fadeInScale {
    to {
      opacity: 1;          /* 最終的に表示 */
      transform: scale(1); /* 元のサイズに戻す */
    }
  }
@media (min-width: 505px) {
  .galleryList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 740px) {
  .galleryList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 995px) {
  .galleryList {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1235px) {
  .galleryList {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1490px) {
  .galleryList {
    grid-template-columns: repeat(6, 1fr);
  }
}

.loadBtn {
  background-color: transparent;
  border: 0px;
  border-radius: 0px 0px 11px 11px;
  font-weight: 600;
  font-size: 15px;
  transition: 0.2s ease;
  border-top: 1px solid #333;
  font-family: "DotGothic16", sans-serif;
}
.loadBtn:hover {
  background-color: rgb(0, 67, 99);
  color: rgb(255, 255, 255);
}
.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(180, 3, 3);
  border: 1px solid #333;
  border-radius: 15px;
  font-weight: 600;
  font-size: 15px;
  transition: 0.2s ease;
  border-top: 1px solid #333;
  color: rgb(255, 255, 255);
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
}
.deleteBtn:hover {
  background-color: rgb(95, 0, 0);
  color: white;
}
.projectAuthor {
  margin: 0px;
  font-size: 13px;
  color: #4b4b4b;
  border-bottom: 2px dashed #333;
}
.projectName {
  margin: 0px;
}

.date {
  position: fixed;
  bottom: 25px;
  right: 5px;
  margin: 0px;
  font-size: 13px;
  color: #a1a1a1;
}
.gridSize {
  margin: 0px auto 0px auto;
  font-size: 13px;
  color: #6b6b6b;
}
.galleryItemsImage {
  max-width: 120px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: block;
  margin: 0 auto 0px auto;
}

@media (max-width: 505px) {
  .galleryItemsContent {
    padding: 5px;
  }.galleryList {
    grid-template-columns: repeat(2, 1fr);
  }.galleryItemsImage {
    width: 40px;
  }.galleryItem {
    width: 150px;
    height: 150px;
  }.projectAuthor {
    font-size: 10px;
  }.projectName {
    font-size: 10px;
  }.date {
    font-size: 10px; 
  }
}