p {
  font-family: "DotGothic16", sans-serif;
  font-weight: 600;
}

.toDrawingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 15px;
  font-weight: 600;
  text-decoration: underline;
  color: black;
  transition: 0.2s ease;
  min-width: 198px;
  min-height: 198px;
}
.toDrawingPage:hover {
  background-color: rgb(8, 79, 45);
  color: rgb(255, 255, 255);
  font-size: 110%;
}
.toDrawingPage:active {
  color: rgb(0, 0, 0);
}

.galleryPage {
  margin-top: 70px;
}

.galleryList {
  display: grid;
  gap: 5px;
  
}
.galleryItem {
    background-color: transparent;
    border: 1px dashed #333;
    border-radius: 15px;
    min-height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    opacity: 0;
    transform: scale(0.5);
    animation: fadeInScale 0.5s forwards;
}
@keyframes fadeInScale {
    to {
      opacity: 1;          /* 最終的に表示 */
      transform: scale(1); /* 元のサイズに戻す */
    }
  }

@media (min-width: 410px) {
  .galleryList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 615px) {
  .galleryList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 820px) {
  .galleryList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1025px) {
  .galleryList {
    grid-template-columns: repeat(5, 1fr);
  }
}

.loadBtn {
  background-color: transparent;
  border: 0px;
  border-radius: 0px 0px 15px 15px;
  width: 200px;
  height: 50px;
  font-weight: 600;
  font-size: 15px;
  transition: 0.2s ease;
  border-top: 1px solid #333;
  font-family: "DotGothic16", sans-serif;

}
.loadBtn:hover {
  background-color: rgb(0, 67, 99);
  color: rgb(255, 255, 255);
}
.deleteBtn {
  background-color: rgb(180, 3, 3);
  border: 1px solid #333;
  border-radius: 0px 15px 0px 0px;
  font-weight: 1000;
  font-size: 15px;
  transition: 0.2s ease;
  border-top: 1px solid #333;
  color: rgb(255, 255, 255);
  width: 30px;
  height: 100%;
}
.deleteBtn:hover {
  background-color: rgb(95, 0, 0);
  color: white;
}

.projectName {
  margin: 0px;
  margin-top: 10px;
}
.nameDltBtn {
  display: flex;
  width: 95%;
  height: 31px;
  justify-content: space-between;
  align-items: center;
  color: rgb(17, 18, 80);
  background-color: #afdbd4;
  padding-left: 10px;
  border-radius: 15px 15px 0px 0px;
}

.date {
  margin: 0px;
  margin-top: 10px;
  font-size: 13px;
  color: #a1a1a1;
  position: absolute;
  bottom: 48px;
}
.gridSize {
  margin: 0px;
  margin-top: 20px;
}