.searchPage {
  font-family: "DotGothic16", sans-serif;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.inputSearch {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 1000;
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 60px;
  font-family: "DotGothic16", sans-serif;
  margin: 70px auto 5px auto;
  max-width: 500px;
}
.postList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.postItem {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 0px 5px #333;
  font-family: "DotGothic16", sans-serif;
  background-color: #f9f9f9;
  width: 200px;
  min-height: 200px;
}
.postImage {
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: block;
  margin: 0 auto 0px auto;
}
.author {
  margin: 0px;
  font-size: 15px;
  border-bottom: 2px dashed #333;
}
.searchTitle {
  margin: 0px;
}
.tags {
  margin: 0px;
  font-size: 12px;
}
.SearchLoadBtn {
  width: 100px;
  height: 30px;
  border: 0px;
  font-family: "DotGothic16", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: block;
  margin: 0px auto 0px auto;
}
.SearchLoadBtn:hover {
  opacity: 0.8;
}
.SearchLoadBtn:active {
  opacity: 0.6;
}