.searchPage {
  font-family: "DotGothic16", sans-serif;
  
 
}

.inputSearch {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 1000;
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 60px;
  font-family: "DotGothic16", sans-serif;
  margin: 70px auto 5px auto;
  max-width: 500px;
}
.postList {
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  gap: 20px;
  padding: 20px;
  height: 700px;
}
.postList::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


@keyframes fadeInScale {
    to {
      opacity: 1;          /* 最終的に表示 */
      transform: scale(1); /* 元のサイズに戻す */
    }
  }
@media (min-width: 515px) {
  .postList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 780px) {
  .postList {
    grid-template-columns: repeat(3, 1fr);
  }.postItem {
    width: 200px;
  }
}
@media (min-width: 1045px) {
  .postList {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1305px) {
  .postList {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1570px) {
  .postList {
    grid-template-columns: repeat(6, 1fr);
  }
}
.postItem {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 0px 5px #333;
  font-family: "DotGothic16", sans-serif;
  background-color: #f9f9f9;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.postImage {
  max-width: 90px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: block;
  margin: 0 auto 0px auto;
}
.author {
  margin: 0px;
  font-size: 15px;
  border-bottom: 2px dashed #333;
}
.searchTitle {
  margin: 0px;
}
.tags {
  margin: 0px;
  font-size: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tags::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  
}
.tags::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 15px;
}
.tags::-webkit-scrollbar-track {
  background: #8f8f8f;
  border-radius: 15px;
}
.SearchLoadBtn {
  width: 100px;
  height: 30px;
  border: 0px;
  font-family: "DotGothic16", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: block;
  margin: 0px auto 0px auto;
}
.SearchLoadBtn:hover {
  opacity: 0.8;
}
.SearchLoadBtn:active {
  opacity: 0.6;
}
@media (max-width: 430px) {
  .postList {
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }.postItem {
    width: 100px;
    height: 100px;
    padding: 5px;;
  }.postImage {
    width: 20px;
  }.searchTitle {
    font-size: 10px;
  }.author {
    font-size: 10px;
  }.tags {
    font-size: 8px;
  }.SearchLoadBtn {
    width: 60px;
    height: 15px;
    font-size: 8px;
  }.inputSearch {
    width: 90%;
  }
}