.inputSearch {
    width: 300px;
    height: 40px;
    font-size: 16px;
    font-weight: 1000;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 60px;
}