.pixel {
  width: 15px;
  height: 15px;
  border: 1px solid #3333330a;
  box-sizing: border-box;
}
.pixel:hover {
  background-color: #9b9b9b;
}

.grid {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: 10px;
  border: 1px solid #333;
  box-sizing: border-box;
  touch-action: none;
  gap: 0;
}

* {
  user-select: none;
}
