.header {
  background-color: rgb(8, 79, 45);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}
a {
  text-decoration: none;
}
.text-Simple {
  font-size: 20px;
  text-shadow: 0px 0px 3px #1eff00;
}
.text-DotArt {
  text-shadow: 0px 0px 3px #1eff00;
}

.headerTitle {
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none;
  color: white;
  font-size: 35px;
  transition: 0.1s ease;
}




.middle-section {
  font-size: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 73px;
}
.middle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 17px;
  padding-left: 17px;
  color: #222222;
  transition: 0.2s ease-in;
  text-decoration: none;
}
.middle:hover {
  color: rgb(255, 255, 255);
}
.middle::after {
  content: "";
  position: absolute;
  bottom: -4px; /* 文字との間隔を調整 */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px; /* 線の太さ */
  background: rgb(255, 255, 255);
  transition: width 0.3s ease;
}
.middle:hover::after {
  width: 70%;
}

.toHome {
  border-right: 1px solid #333;
}
.toGallery {
  border-left: 1px solid #333;
}

.bar {
  background-color: azure;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.menu {
  position: relative;
}
.menu:hover {
    background-color: #aaaaaa21;
}

.menuContents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  cursor: pointer;
}

.nav {
  position: absolute;
  top: 50px;
  right: -350px;
  background: #151922;
  border: 1px solid #ddd;
  padding: 16px;
  font-size: 20px;
  transition: right 0.2s ease;
  width: 300px;
  height: 100vh;
  margin-top: 10px;
  border: 1px solid #404cbb;
}

.nav.show {
  display: block;
  margin-top: 10px;
  width: 300px;
  height: 100vh;
  right: 0;
  z-index: 10;
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 12px 0;
  border-bottom: 1px solid#ACACAC;
  margin-left: 10px;
}
li:hover {
  background-color: rgb(65, 65, 65);
}
li {
  padding-bottom: 5px;
}