.setNameContainer {
    display: flex;
    flex-direction: column;
    background-color: #ACACAC;
    align-items: center;
    justify-content: center;
}
.setName {
    width: 154px;
    height: 30px;
    margin: 5px;
    font-family: "DotGothic16", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.setAuthor {
    width: 154px;
    height: 30px;
    margin: 5px;
    font-family: "DotGothic16", sans-serif;
    font-weight: 600;
    font-size: 16px;
}