.SelectBtns {
    margin-top: 200px;
    display: grid;
    gap: 20px;
    
}
.SelectBtns a {
    opacity: 0;
    transform: scale(0.5);
    animation: fadeInScale 0.5s forwards;
}
.HomeBtn {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    width: 100%;
    border: 2px solid #333;
    transition: 0.1s ease-in-out;
    box-shadow: 0px 0px 5px #333;
    font-family: "DotGothic16", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.SelectBtns a:nth-child(1) { animation-delay: 0s; }
.SelectBtns a:nth-child(2) { animation-delay: 0.1s; }
.SelectBtns a:nth-child(3) { animation-delay: 0.2s; }

@keyframes fadeInScale {
    to {
      opacity: 1;          /* 最終的に表示 */
      transform: scale(1); /* 元のサイズに戻す */
    }
  }

.HomeBtn:hover {
    background-color: #dddddd;
    border: 2px dashed rgb(19, 110, 54);
    scale: 1.01;
    color: rgba(0, 88, 4, 0.349);
}
.HomeBtn:active {
    background-color: #bdbdbd;
    border: 2px dotted rgb(19, 110, 54);
    color: rgb(121, 84, 84);
    scale: 0.995;
}
